.wpcmb-wrap {
    display: inline-block;
    width: 100%;
}

.wpcmb-wrap .wpcmb-text {
    white-space: pre-line;
}

.wpcmb_assortments .wpcmb_assortment {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.wpcmb_assortments .wpcmb_assortment:last-child {
    border-bottom: none;
}

.wpcmb_assortments .wpcmb_assortment .wpcmb_assortment_name {
    font-weight: 700;
}

.wpcmb-products {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wpcmb-products .wpcmb-product {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.wpcmb-products .wpcmb-product > div {
    padding-right: 5px;
    padding-left: 5px;
}

.wpcmb-products .wpcmb-product .wpcmb_assortment_product_image {
    width: 50px;
    flex: 0 0 50px;
}

.wpcmb-products .wpcmb-product .wpcmb_assortment_product_image img {
    width: 100%;
    height: auto;
}

.wpcmb-products .wpcmb-product .wpcmb_assortment_product_info {
    flex-grow: 1;
}

.wpcmb-products .wpcmb-product .wpcmb_assortment_product_desc {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.wpcmb-products .wpcmb-product .wpcmb_assortment_product_desc > div {
    margin-right: 10px;
}

.wpcmb-products .wpcmb-product .wpcmb_assortment_product_desc .stock {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
}

.wpcmb-products .wpcmb-product.wpcmb_assortment_product_unpurchasable {
    pointer-events: none;
    opacity: 0.5;
}

.wpcmb-products[class*=wpcmb-products-layout-grid] {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    border: none;
}

.wpcmb-products[class*=wpcmb-products-layout-grid] .wpcmb-product {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
    font-size: 14px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.wpcmb-products[class*=wpcmb-products-layout-grid] .wpcmb-product:hover {
    border-color: green;
}

.wpcmb-products[class*=wpcmb-products-layout-grid] .wpcmb-product > div {
    width: 100% !important;
    flex: 0 0 auto !important;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
}

.wpcmb-products[class*=wpcmb-products-layout-grid] .wpcmb-product > div:last-child {
    margin-bottom: 0;
}

.wpcmb-products[class*=wpcmb-products-layout-grid] .wpcmb-product .wpcmb_assortment_product_desc {
    justify-content: center;
}

.wpcmb-products[class*=wpcmb-products-layout-grid] .wpcmb-product .wpcmb_assortment_product_desc > div {
    margin-left: 5px;
    margin-right: 5px;
}

.wpcmb-products.wpcmb-products-layout-grid-1 .wpcmb-product {
    width: calc(100% - 20px);
}

.wpcmb-products.wpcmb-products-layout-grid-3 .wpcmb-product {
    width: calc(33.3333333333% - 20px);
}

.wpcmb-products.wpcmb-products-layout-grid-4 .wpcmb-product {
    width: calc(25% - 20px);
}

@media only screen and (max-width: 767px) {
    .wpcmb-products[class*=wpcmb-products-layout-grid] .wpcmb-product {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 479px) {
    .wpcmb-products[class*=wpcmb-products-layout-grid] .wpcmb-product {
        width: calc(100% - 20px);
    }
}

/*# sourceMappingURL=frontend.css.map */
